---
---
<span class="flex items-center ml-2 text-2xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="/playground/assets/img/logo1.svg" class="h-8 w-auto mr-2" alt="AlexaVolt Logo" />
  AlexaVolt
</span>